{% extends 'base.html' %}
{% load static %}

{% block title %} Stores {% endblock title %}
{% block page-title %} Stores {% endblock page-title %}

{% block content %}
    {% autoescape on %}
        <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-3 col-md-6">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h3 class="mb-0 font-weight-semibold">{{ storesLen }}</h3>
                            <h5 class="mb-0 font-weight-medium text-primary">Stores</h5>
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <canvas height="50" width="100" id="stats-line-graph-1"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <div class="row">
                  {% for store in stores %}
                  <div class="col-md-4 grid-margin stretch-card">
                    <div class="card">
                      <form action="/storeDetails" method="get">
                        <div class="card-body">
                            <input type="hidden" name="store_id" value="{{ store.store_id }}">
                            <button type="submit" style="border: none; padding: 0; background: none"><h4 class="card-title mb-4">{{ store.store_name }}</h4></button>
                        <div>
                            <div style="width: 100%"><iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ store.place_id }}&key=AIzaSyAX15HvlFNf6bkWnt80Zo8cFq-FhBTmO9g" allowfullscreen></iframe></div><br/>
                        </div>
                        <div class="wrapper">
                          <div class="d-flex w-100 pt-2 mt-4">
                            <p class="mb-0 font-weight-semibold">Store ID</p>
                            <div class="wrapper ml-auto d-flex align-items-center">
                              <p class="font-weight-semibold mb-0">{{ store.store_id }}</p>
                            </div>
                          </div>
                          <div class="d-flex w-100 pt-2">
                            <p class="mb-0 font-weight-semibold">Store Manager</p>
                            <div class="wrapper ml-auto d-flex align-items-center">
                              <p class="font-weight-semibold mb-0">{{ store.storeManager.first_name }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      </form>
                    </div>
                  </div>
                  {% endfor %}
              </div>
    {% endautoescape %}
{% endblock content %}