{% extends 'base.html' %}
{% load static %}

{% block title %} Success {% endblock title %}
{% block page-title %} Procurement Successful {% endblock page-title %}

{% block content %}
    {% autoescape on %}
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card average-price-card">
                <div class="card text-white">
                    <div class="card-body">
                        <div class="d-flex justify-content-between pb-2 align-items-center">
                            <h2 class="font-weight-semibold mb-0">Procurement Successful</h2>
                            <div class="icon-holder">
                                <i class="mdi mdi-briefcase-check"></i>
                            </div>
                        </div>
                        <span></span>
                        <div class="table-responsive" style="background-color: white; box-shadow: black; border-radius: 10px;">
                            <table class="table">
                            <tbody>
                                <tr>
                                    <td>Tangle Hash</td>
                                    <td><a href="https://comnet.thetangle.org/transaction/{{ hash }}" target='_blank'>{{ hash }}</a></td>
                                </tr>
                                <tr>
                                    <td>Batch ID</td>
                                    <td>{{ unique_id }}</td>
                                </tr>
                                <tr>
                                    <td>Raw Material</td>
                                    <td>{{ raw_material_id.rawMaterial_name }}</td>
                                </tr>
                                <tr>
                                    <td>Supplier</td>
                                    <td>{{ supplier_id.supplier_name }}</td>
                                </tr>
                                <tr>
                                    <td>Units</td>
                                    <td>{{ units }}</td>
                                </tr>
                                <tr>
                                    <td>Quality Score</td>
                                    <td>{{ quality_score }}</td>
                                </tr>
                                <tr>
                                    <td>Calories</td>
                                    <td>{{ calories }}</td>
                                </tr>
                                <tr>
                                    <td>Proteins</td>
                                    <td>{{ proteins }}</td>
                                </tr>
                                <tr>
                                    <td>Fat</td>
                                    <td>{{ fat }}</td>
                                </tr>
                                <tr>
                                    <td>Sodium</td>
                                    <td>{{ sodium }}</td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock content %}